body {
  background-color: lavender;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}

#auth-section h2 {
  height: 40svh;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  align-items: center;
  color: rgba(111, 53, 165, 0.726);
}

.loginForm {
  display: flex;
  justify-content: center;
}

.loginForm input {
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 10px;
}

.loginForm button {
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(214, 161, 169, 0.788);
  color: white;
  font-weight: bold;
}

.user-header {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 8px;
  color: rgba(123, 42, 199, 0.959);
}

.user-header button {
  border-radius: 10px;
  background-color: rgba(111, 53, 165, 0.726);
  color: white;
  border: none;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 20px;
}

.big-btn1 {
  padding: 8rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgb(113, 193, 219);
  color: white;
  border: none;
  border-radius: 30px;
}

.big-btn2 {
  padding: 8rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 30px;
}

.small-btn {
  margin-left: 10px;
  padding: 5px 10px;
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 20px;
  align-items: start;
  padding: 20px;
}

#game-section input {
  border-radius: 10px;
  padding: 0.25rem;
  border: none;
  cursor: pointer;
}

.optionButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.optionButtons button {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgba(111, 53, 165, 0.726);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#delete {
  background-color: rgba(236, 34, 34, 0.815);
}

#game-info {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  background-color: rgba(111, 53, 165, 0.726);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
}

.card.flipped {
  background-color: #ecf0f1;
  color: black;
}

.card.matched {
  background-color: #2ecc71;
}

.chat {
  color: white;
  background-color: rgba(214, 161, 169, 0.788);
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
}

#comments-list {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat button {
  padding: 0.25rem;
  background-color: rgba(184, 104, 116, 0.788);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.leaderboard {
  color: white;
  background-color: rgba(103, 103, 177, 0.753);
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
}

#leaderboard-list {
  list-style-type: decimal;
  font-weight: bold;
}
